@import "colors";

$widthXLarge:   1680px;
$widthLarge:    1280px;
$widthMedium:   980px;
$widthSmall:    736px;
$widthXSmall:   480px;
$widthXXSmall:  360px;

html {
  font-size: 1.25em;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;

  iframe {
    border: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.double-column {
  display: flex;
  flex-direction: column;
}

#navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(nav);

  nav {
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline;
        margin: 1rem;
        padding: 0;

        &.active {
          a {
            filter: opacity(80%);
          }
        }

        a {
          display: inline;
          font-size: 0.8rem;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          filter: opacity(35%);

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              filter: opacity(90%);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $widthSmall) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    justify-content: center;
  }

  .content-wrapper {
    margin-top: 3rem;
  }
}

@media screen and (min-width: $widthLarge) {
  #navigation {
    flex-direction: column;
    width: 18rem;
    height: 100vh;
    align-items: flex-end;

    .inner {
      margin-right: 2rem;

      nav {
        ul {
          text-align: right;

          li {
            display: flex;

            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .content-wrapper {
    width: calc(100%-18rem);
    margin-top: 0;
    margin-left: 18rem;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: color(primary);
  color: white;
  background-attachment: fixed;
  background-image: url("../img/circles.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .inner {
    margin: 5rem;

    h1 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
}

#projects {
  min-height: 100vh;
  background-color: color(secondary);
  display: flex;
  flex-direction: column;

  .project-image {
    display: flex;
    width: 100%;
    min-width: 300px;
    img {
      width: 100%;
      min-width: 300px;
    }
  }
}

#contact {
  min-height: 100vh;
  background-color: color(tertiary);
}

#blog {
  min-height: 100vh;
}

/*
  #navigation {
    > .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.5em 0 2.5em;
      width: calc(100% - 5em);
      min-height: 100%;
    }

    nav a {
      transition: color 0.2s ease;
    }

    nav a:after {
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
      transition: max-width 0.2s ease;
    }
    nav a:before {
      background: #3c2c62;
    }
    nav a:before, nav a:after {
			border-radius: 0.2em;
			bottom: 0;
			content: '';
			height: 0.2em;
			position: absolute;
			right: 0;
			width: 100%;
    }

    nav a.active:after {
      max-width: 100%;
    }
  }
}

*/