@import "colors";
@import "mixins";

html {
  font-size: 1.25em;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;

  iframe {
    border: none;
  }
}

#navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(nav);
  justify-content: center;
  z-index: 100;

  nav {
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline;
        margin: 1rem;
        padding: 0;

        &.active {
          a {
            filter: opacity(80%);
          }
        }

        a {
          display: inline;
          font-size: 0.8rem;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          filter: opacity(35%);

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              filter: opacity(90%);
            }
          }
        }
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

#hero {
  @include flex-v-centered(false);
  min-height: 100vh;
  background-color: color(primary);
  color: white;
  background-attachment: fixed;
  background-image: url("../img/circles.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .inner {
    margin: 1.25rem;

    h1 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 0.9rem;
    }
  }
}

#projects {
  display: grid;
  grid-template-columns: auto;
  background-color: color(secondary);

  .project-image {
    position: relative;
    width: 100%;
    min-width: 15rem;

    > * {
      width: 100%;
      height: 100%;
    }
  }

  .project-description {
    @include flex-v-centered(true);
    padding: 1rem 2rem;

    h2 {
      color: #FFFFFFe0;
      margin: 0.2rem;
      font-size: 1.2rem;
    }
    p {
      color: #FFFFFFa0;
      margin: 0.2rem;
      font-size: 0.8rem;
    }
    a {
      margin-top: 1rem;
    }
  }
}

#contact {
  min-height: 100vh;
  background-color: color(tertiary);
}

#blog {
  min-height: 100vh;
}

.button {
  width: 8rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: transparent;
  border: 1px solid #FFFFFF2F;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@import "media_queries/xxsmall";
@import "media_queries/small";
@import "media_queries/large";
@import "media_queries/xlarge";