@media screen and (min-width: $widthHiDpi) {
  #projects .project-description {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .button {
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1rem;
    letter-spacing: 0.4rem;
  }
}